@use "./variables";
@use "./mixin";

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: serif;
  color: variables.$primary-black;
  background-color: variables.$primary-white;
}

a {
  text-decoration: none;
  color: variables.$primary-black;
}
