@use "./variables";

@mixin flexbox(
  $direction: row,
  $justify-content: flex-start,
  $align-items: stretch
) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify-content;
  align-items: $align-items;
}

// responsive
@mixin desktop {
  @media (min-width: variables.$desktop) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: variables.$tablet) {
    @content;
  }
}
