$primary-black: #323232;
$primary-blue: #0095ff;
$primary-silver: #afafaf;
$primary-white: #ffffff;
$secondary-dark-black: #000000;
$secondary-dark-blue: #0065ad;
$secondary-mercury: #e1e1e1;
$secondary-alabaster: #fafafa;

$pm-base: 0.25rem;

$tablet: 48rem;
$desktop: 80rem;
