@use "../../styles/partials/mixin";
@use "../../styles/partials/variables";

.main {
  margin: 0;
  width: 100%;
  height: 100vh;
  background-image: url("../../assets/images/yoga-shaddow.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(251, 247, 247, 0.626);
  background-blend-mode: multiply lighten;
  position: relative;
  @include mixin.flexbox(row, center, center);

  &__logo {
    color: variables.$primary-white;
    position: absolute;
    top: 10%;
  }

  &__title {
    color: variables.$primary-white;
    position: absolute;
    bottom: 10%;
    margin: 0 variables.$pm-base * 4;
    text-align: center;
  }
}
