@use "../../styles/partials/mixin";
@use "../../styles/partials/variables";
@use "../../styles/partials/global";

.main {
  background-image: url("../../assets/images/yoga-shaddow.jpg");
  position: relative;
  @include mixin.flexbox(row, center, center);

  &__logo {
    color: variables.$primary-white;
    position: absolute;
    top: 10%;
  }

  &__title {
    color: variables.$primary-white;
    position: absolute;
    width: 80%;
    bottom: 10%;
    margin: 0 variables.$pm-base * 4;
    text-align: center;
  }

  &__choices {
    position: absolute;
    bottom: 2%;
  }
}
