@use "../../styles/partials/variables";
@use "../../styles/partials/global";
@use "../../styles/partials/mixin";

.pose-container {
  margin: 0 auto;
  width: 90%;
  height: 75vh;
  overflow: scroll;
  @include mixin.flexbox(column, flex-start, center);
}

.pose {
  margin: variables.$pm-base * 4;

  &__image {
    width: 9.375rem;
    height: 9.375rem;
    border-radius: 4px;
  }

  &__name {
    text-align: center;
  }

  &__intro {
    @include mixin.flexbox(column, center, center);

    &__body{
      // margin: .2rem;
      line-height: 1.4rem;
    }
  }

  &__description {
    color: variables.$secondary-black;
    text-align: center;
  }
}
