@use "../../styles/partials/variables";
@use "../../styles/partials/global";
@use "../../styles/partials/mixin";

.box {
  background-image: url("../../assets/images/flower.jpg");
  padding: variables.$pm-base * 8 0;
  position: relative;
  width: 100%;
  overflow: hidden;
}

.home-link {
  position: absolute;
  top: variables.$pm-base * 4;
  left: variables.$pm-base * 4;

  &__section {
    @include mixin.flexbox(row, center, center);
    width: 100%;
  }
}

.overview {
  @include mixin.flexbox(column, flex-start, center);

  &__btn {
    padding-bottom: variables.$pm-base * 4;
    color: variables.$primary-white;
  }
}

.carousel {
  margin-top: variables.$pm-base * 4;
}
